kitti_eval/images
kitti_eval/masks_kitti
kitti_eval/masks_cityscapes

*.png
*:Zone.Identifier
*.jpg
*.npy
*.raw

segformer_depth_finetuned
segformer_depth_finetuned_*
segformer_depth_unfrozen__*
small
small_new
large_few_labels

*.db3

__pycache__/